{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
    Spielübersicht
{% endblock %}
{% block body %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div class="toast align-items-center text-bg-primary" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Deine Tipps wurden abgespeichert!
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <h2>Tippen!</h2>
        <button class="btn btn-primary" id="btnSubmit">Änderungen speichern!</button>
    </div>

    <p>Hier kannst du für alle Spiele tippen!</p>
    <br>



    <!-- NAVBAR for GAME TYPES
        <ul class="nav nav-tabs" id="myTab">
        {% for gtype in gametype %}
            <li class="nav-item">
                <a href="#gtype-{{ gtype.id }}" class="nav-link" data-bs-toggle="tab">{{ gtype.name }}</a>
            </li>
        {% endfor %}
        </ul>
     -->
    <ul class="nav nav-tabs" role="tablist">
        {% for gtype in gametype %}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="gtype-tab-{{ gtype.id }}" data-bs-toggle="tab" href="#gtype-{{ gtype.id }}" role="tab" aria-controls="simple-tabpanel-0" aria-selected="true">{{ gtype.name }}</a>
        </li>
        {% endfor %}
    </ul>


    <div class="tab-content pt-3" id="tab-content">
    {% for gtype in gametype %}
      <div class="tab-pane" id="gtype-{{ gtype.id }}" role="tabpanel" aria-labelledby="simple-tab-1">
          <p class="font-monospace text-uppercase"><b>{{ gtype.name }}</b></p>
            {% for game in games %}
            {% if gtype.id == game.type.id %}
                <div class="row mb-3 align-self-center">
                    <div class="col-2 align-right">
                        {{ game.team1.name }}
                    </div>
                    <div class="col-auto">
                        <img src="{{ game.team1.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: contain; object-position: 100% 0;" alt="{{ game.team1.name }}-flag">
                    </div>
                    <div class="col-3">
                        {% with vote=user_votes_dict|get_item:game.id %}
                            {% if vote %}
                                {% if game.match_is_finished %}
                                    {% if vote.team1_score is None %}
                                        <div class="d-flex">
                                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}"disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" disabled>
                                        </div>
                                    {% else %}
                                        <div class="d-flex">
                                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="{{ vote.team1_score }}" disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="{{ vote.team2_score }}" disabled>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if vote.team1_score is None %}
                                        <div class="d-flex">
                                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}">
                                        </div>
                                    {% else %}
                                        <div class="d-flex">
                                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="{{ vote.team1_score }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="{{ vote.team2_score }}" >
                                        </div>
                                    {% endif %}

                                {% endif %}
                            {% else %}
                                {% if game.match_is_finished %}
                                    <div class="d-flex">
                                        <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="-" disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="-" disabled>
                                    </div>
                                {% else %}
                                    <div class="d-flex">
                                        <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-auto">
                        <img src="{{ game.team2.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: contain; object-position: 100% 100%;">
                    </div>
                    <div class="col">
                        {{ game.team2.name }}
                    </div>
                </div>
            {% else %}
            {% endif %}
            {% endfor %}
      </div>
    {% endfor %}
    </div>


<script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
</script>
<script>
$('#btnSubmit').click(function(){
    // Objekt zum Sammeln der Daten
    let data = {};

    // Sammeln der Daten aus den Inputs
    {% for game in games %}
        let team1_{{ game.id }}_vote = $('#game-{{ game.id }}-team-{{ game.team1.id }}').val();
        let team2_{{ game.id }}_vote = $('#game-{{ game.id }}-team-{{ game.team2.id }}').val();

        data[{{ game.id }}] = {
            "team1_vote": team1_{{ game.id }}_vote,
            "team2_vote": team2_{{ game.id }}_vote
        };
    {% endfor %}

    // Ajax-Request
    $.ajax({
      url: "/bet/",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),  // JSON.stringify um das JS-Objekt in JSON zu konvertieren
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken")
      },
      success: (response) => {
          console.log(response);
            const toastLiveExample = document.getElementById('successToast')
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                    toastBootstrap.show()

      },
      error: (error) => {
        console.log(error);
      }
    });
});
</script>
{% endblock %}