<p class="font-monospace text-uppercase"><b>{{ gtype.name }}</b></p>
{% for game in games %}
{% if gtype.id == game.type.id %}
    <div class="row mb-3 align-self-center">
        <div class="col-2 align-right">
            {{ game.team1.name }}
        </div>
        <div class="col-auto">
            <img src="{{ game.team1.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: contain; object-position: 100% 0;" alt="{{ game.team1.name }}-flag">
        </div>
        <div class="col-3">
            {% with vote=user_votes_dict|get_item:game.id %}
                {% if vote %}
                    {% if game.match_is_started or game.match_is_finished %}
                        {% if vote.team1_score is None %}
                            <div class="d-flex">
                                <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}"disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" disabled>
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="{{ vote.team1_score }}" disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="{{ vote.team2_score }}" disabled>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if vote.team1_score is None %}
                            <div class="d-flex">
                                <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}">
                            </div>
                        {% else %}
                            <div class="d-flex">
                                <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="{{ vote.team1_score }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="{{ vote.team2_score }}" >
                            </div>
                        {% endif %}

                    {% endif %}
                {% else %}
                    {% if game.match_is_started or game.match_is_finished %}
                        <div class="d-flex">
                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}" value="-" disabled>&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}" value="-" disabled>
                        </div>
                    {% else %}
                        <div class="d-flex">
                            <input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team1.id }}">&nbsp;&nbsp;:&nbsp;&nbsp;<input class="form-control" maxlength="2" size="2" id="game-{{ game.id }}-team-{{ game.team2.id }}">
                        </div>
                    {% endif %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-auto">
            <img src="{{ game.team2.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: contain; object-position: 100% 100%;">
        </div>
        <div class="col">
            {{ game.team2.name }}
        </div>
    </div>
{% else %}
{% endif %}
{% endfor %}