{% extends 'base.html' %}
{% block title %}
    Spielübersicht
{% endblock %}
{% block body %}
    <h2>Spielübersicht</h2>
    <br>
    {% for gtype in gametype %}
        <p class="font-monospace text-uppercase"><b>{{ gtype.name }}</b></p>
    {% for game in games %}
    {% if gtype.id == game.type.id %}
    <div class="row mb-3 align-self-center">
        <div class="col-sm-1 align-baseline">
            {{ game.team1.name }}
        </div>
        <div class="col-sm-2 align-baseline">
             <div class="d-flex justify-content-evenly">
                <img src="{{ game.team1.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: cover; object-position: 100% 0;">
                 {% if game.match_is_finished %}
                 	 <span>{{ game.team1_score }}</span> :
                     <span>{{ game.team2_score }}</span>
                     {% else %}
                     <span>- </span> :
                     <span>- </span>
                 {% endif %}
                 <span></span>
                 <img src="{{ game.team2.icon_url }}" class="rounded" style="height: 20px; width: 30px; object-fit: cover; object-position: 100% 100%;">
             </div>
        </div>
        <div class="col">
            {{ game.team2.name }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
        <br>
    {% endfor %}
{% endblock %}